name: Simple Go CI/CD + Docker Hub

on: 
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Go 1.23
      uses: actions/setup-go@v5
      with:
        go-version: '1.23'

    - name: Tidy dependencies
      run: go mod tidy
    
    - name: Run tests
      run: go test ./... -v

  docker:
    needs: test
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'  
    steps:
    - uses: actions/checkout@v4
    
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    
    - name: Build & Push Docker image
      uses: docker/build-push-action@v6
      with:
        push: true
        tags: wafiulachdi/cicd-githubactions:latest
  
